<app-menu-bar></app-menu-bar>
<app-invitation-screen></app-invitation-screen>
<h2>Chat Room List</h2>
<table>
<tr *ngFor="let room of visibleRooms">
	<td>
		<span *ngIf="room.isPrivate">PRIVATE </span>
		<span *ngIf="!room.isPrivate">PUBLIC </span>
		<span *ngIf="room.password">PROTECTED</span>
		CHAT:
	</td><td>
		<b>
		{{ room.name }}
		</b>
	</td>
	<td>
		<span *ngIf="!loggedUserIsBlocked(room)">
			<button *ngIf="!room.password" routerLink="/chat/{{room.id}}">ENTER</button>
			<span *ngIf="room.password">
				<button id="btn{{room.id}}" (click)='submitEntrance(room)'>ENTER</button>
				<input id="pass{{room.id}}" [ngModel]="password.get(room.id)" (ngModelChange)="password.set(room.id, $event)"
					(keydown.enter)="fun.blur('pass' + room.id); fun.blink('btn' + room.id); submitEntrance(room);"
					placeholder="<- Type password."
				/>
			</span>
		</span>
		<span *ngIf="loggedUserIsBlocked(room)">&nbsp;<- YOU ARE BLOCKED!</span>
	</td>
</tr>
</table>
