<app-menu-bar></app-menu-bar>
<app-invitation-screen></app-invitation-screen>
<h2>Chat Room List</h2>
<div *ngIf="visibleRooms.length">
  <div *ngFor="let room of visibleRooms" class="room-line">
    <span *ngIf="room.isPrivate">PRIVATE </span>
    <span *ngIf="!room.isPrivate">PUBLIC </span>
    <span *ngIf="room.password">PROTECTED</span>
    CHAT:

    {{ room.name }}
    <div class='button-line'>
      <span *ngIf="!isCurrentUserBlocked(room)">
        <span *ngIf="room.password">
					<span *ngIf="isAdmin(user?.intraId, room.id)">[ Administrator ]-></span>
          <input
            id="pass{{ room.id }}"
            [ngModel]="password.get(room.id)"
            (ngModelChange)="password.set(room.id, $event)"
            (keydown.enter)="
              fun.blur('pass' + room.id);
              fun.blink('btn' + room.id);
              submitEntrance(room)
            "
            placeholder="<- Type password." />
          <button id="btn{{ room.id }}" (click)="submitEntrance(room)">
            ENTER
          </button>
        </span>
      </span>
      <span *ngIf="isCurrentUserBlocked(room)"
        >&nbsp;<b><- YOU ARE BLOCKED!</b></span
      >
      <span *ngIf="isCurrentUserMuted(room)"
        >&nbsp;<b><- YOU ARE MUTED!</b></span
      >
        <button *ngIf="!room.password" routerLink="/chat/{{ room.id }}">
          ENTER
        </button>
    </div>
  </div>
</div>
<div *ngIf="!visibleRooms.length" class='centered'>Nada.</div>
