.big-input {
	min-width: 10em;
}
button {
	display: inline-block;
}
.room-line {
	border: var(--border-extra);
	min-width: var(--base-minimal-width);
	max-width: var(--base-normal-width);
	margin: 1em auto;
	display: table;
	padding: 1em;
	line-height: 1.5em;
}

.button-line {
	text-align: right;
}

.centered {
	margin: 0 auto;
	display: block;
}
