<div class="chat-input-box" id="chatBox">
  <textarea *ngIf='!muted' class="chat-input-text" placeholder=" <- Type here."
	(keydown.enter)="send($event)"
	[(ngModel)]="message"
	autofocus
  ></textarea>
  <div *ngIf='muted' class="blinker" style='width:100%;text-align:center;'>[ YOU ARE MUTED! ]</div>
  <button
	id="clear-button" 
	type="button" (click)="clearChat($event);"
	style="position: absolute; right: 200px; bottom: 0"
  >Clear</button>
  <button *ngIf='!muted'
	id="send-button" 
	type="button" (click)="send($event);"
	style="position: absolute; right: 0; bottom: 0"
  >Enter</button>
</div>
