<div class="chat-input-box" id="chatBox">
  <textarea
    *ngIf="!muted"
    class="chat-input-text"
    placeholder=" <- Type here."
    (keydown.enter)="send($event)"
    [(ngModel)]="message"
    autofocus></textarea>
  <div *ngIf="muted" class="blinker" style="width: 100%; text-align: center">
    [ YOU ARE MUTED! ]
  </div>
  <button
    *ngIf="!muted && !messageTooBig"
    id="send-button"
    type="button"
    (click)="send($event)"
		style="bottom: 2.5em;"
		>
    Enter
  </button>
  <button
		*ngIf="!muted && messageTooBig"
		type="button"
		style="bottom: 2em;"
		id="long-message"
		>
    Too Long!
		<br>&nbsp;&nbsp;(Max 512)
  </button>
</div>
