<div class="chat-input-box" id="chatBox">
  <textarea class="chat-input-text" placeholder=" <- Type here."
	(keydown.enter)="send($event)"
	[(ngModel)]="message"
	autofocus
  ></textarea>
  <button
	id="clear-button" 
	type="button" (click)="clearChat($event);"
	style="position: absolute; right: 200px; bottom: 0"
  >Clear</button>
  <button *ngIf='!muted'
	id="send-button" 
	type="button" (click)="send($event);"
	style="position: absolute; right: 0; bottom: 0"
  >Enter</button>
  <button *ngIf='muted'
	id="muted-button" 
	type="button"
	style="position: absolute; right: 0; bottom: 0"
  >Your Are Muted</button>
</div>
