.opt-box {
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.options {
	padding: 1em;
	min-height: 5em;
	min-width: 14em;
	max-width: 30vw;
	border: var(--border-extra);
	overflow: auto;
	margin: 0.5em;
	display: inline-grid;
	align-content: space-between;
}
.options div {
	display: block;
}
.title {
	margin: auto;
	margin-bottom: 1em;
	width: 100%;
	min-width: var(--base-minimal-width);
}
.box {
	padding: 0 3em;
}
.left {
	display: block;
}
.middle {
    overflow:hidden;
	width: 100%;
}
.right {
}
.big-user {
	font-size:var(--font-x-large);
	max-width: 100%;
	white-space: normal;
	line-height: 0.7em;
}
.small-id {
	font-size:var(--font-small);
	display: block;
	margin-top: 8px;
}
.profile-image {
	filter: grayscale(100%);
	width: 6em;
	height: 6em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: -webkit-inline-box;
	float: left;
	margin: 0;
	margin-right: 1em;
}
.info {
	display: flex;
	min-height: 6em;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 400px;
}
.small-profile-image {
	filter: grayscale(100%);
	width: 4em;
	height: 3em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: -webkit-inline-box;
	margin: 1em auto;
}
.actions {
	margin-left: 6em;
}
button {
	max-width: fit-content;
	margin: auto;
	margin-right: 0;
}
input[type="file"] {
	display: auto;
	width: 100%;
}
textarea {
	height: 2em;
	resize: none;
	padding: 0.2em;
	border: none;
	width: 13em !important;
	margin: 0 auto;
}
textarea:active {
	border:none;
}
.file {
	width: 100%;
}
.centered {
	position: relative;
	margin: auto;
	width: fit-content;
}
.mfa {
}
