<h1>{{ profileType }}<span *ngIf='!amIBlocked'> Profile</span></h1>
<div *ngIf='!amIBlocked; else spying'>
	<div *ngIf="displayUser; else user_unknown" style='margin-bottom: 0em;'>
		<div class='opt-box' *ngIf="owner">
			<div class='options'>
				<label class='left'>name
				</label>
				<input id="name" [(ngModel)]="displayUser.name" class='middle'
					(focus)="fun.switchIf('nameButton', 'Change', 'Ok'); saveLastName();"
					(focusout)="fun.switchIf('nameButton', 'Ok', 'Change'); validateAndSaveUser();"
					(keydown.enter)="fun.blur('name'); fun.blink('nameButton');"
				/>
				<div *ngIf='invalidNameNotice' id='invalidNameNotice'><- <b>Invalid</b>&nbsp;
				</div>
				<button *ngIf='!invalidNameNotice' id="nameButton" type="button" class='right' (click)=
					"fun.focusIf('nameButton', 'Change', 'name');"
					>Change
				</button>
			</div>

			<div class='options'>
				<div class="small-profile-image hover_invert"
					style="background-image:url('{{ displayUser.image }}');">
				</div>
				<button type="button">Change Image
				</button>
			</div>

			<div class='options'>
				<label>2FA
				</label>
				<span>
					<div *ngIf="displayUser.mfa_enabled">
						ACTIVE<br><a (click)="switchMfa();">[ DEACTIVATE ]</a>
					</div>
					<div *ngIf="!displayUser.mfa_enabled">
						OFF<br><a (click)="switchMfa();">[ ACTIVATE ]</a>
					</div>
				</span>
				<app-login *ngIf='mfaOpened' [stepActivate]='true'>
				</app-login>
			</div>
		</div>

		<div class='oneliner'>
			<div class="profile-image hover_invert"
				style="background-image:url('{{ displayUser.image }}');">
			</div>
			<div class='info'>
				<span class='small-id'>{{displayUser.intraId}}</span>
				<span class='big-user'>{{displayUser.name}}</span>
			</div>
		</div>

		<div class='actions'>
		<app-u2u-actions *ngIf='!owner'
			[isFriend]='isFriend' [isBlock]='isBlock' [amIBlocked]='amIBlocked' [user]='displayUser'
			[caption]='false' [singleline]='true'>
		</app-u2u-actions>
		</div>

		<app-friends-list [user]="displayUser"></app-friends-list>
		<app-blocks-list *ngIf="owner" [user]="displayUser"></app-blocks-list>
		<app-statistics [user]="displayUser"></app-statistics>
		<app-ladder [user]="user" [them]="displayUser"></app-ladder>
		<app-history [user]="displayUser"></app-history>
	</div>
</div>

<ng-template #user_unknown> User: unknown.
</ng-template>

<ng-template #spying>
  <div *ngIf="displayUser">
    <div
      class="profile-image hover_invert"
      style="background-image: url('{{ displayUser.image }}')">
	</div>
    <br />
    {{ displayUser.intraId }}
    <app-u2u-actions
      *ngIf="!owner"
      [isFriend]="isFriend"
      [isBlock]="isBlock"
      [amIBlocked]="amIBlocked"
      [user]="displayUser"
      [caption]="false"
      [singleline]="true">
	</app-u2u-actions>
  </div>
</ng-template>
