<app-menu-bar></app-menu-bar>
<h2>{{ profileType }} Profile</h2>
<table *ngIf="displayUser; else user_unknown">
	<tr *ngIf="owner; else name_simple">
		<td>
			<label>name</label>
		</td>
		<td>
			<input id="name" [(ngModel)]="displayUser.name"
			(focus)="fun.switchIf('nameButton', 'Change', 'Ok');"
			(focusout)="fun.switchIf('nameButton', 'Ok', 'Change'); saveUser();"
			(keydown.enter)="fun.blur('name'); fun.blink('nameButton');"
			/>
		</td>
		<td>
			<button id="nameButton" type="button" (click)=
				"fun.focusIf('nameButton', 'Change', 'name');"
				>Change</button>
		</td>
	</tr>
	<ng-template #name_simple>
		<tr>
			<td>	<label>name</label>	</td>
			<td>	{{displayUser.name}}		</td>
		</tr>
	</ng-template>

	<tr>
		<td>	<label>id</label>	</td>
		<td>	{{displayUser.intraId}}	</td>
	</tr>

	<tr>
		<td>	<label>image url</label>	</td>
		<td>	{{displayUser.image}}				</td>
	</tr>

<!-- TODO get image dinamicaly -->
	<tr *ngIf="owner; else image_simple">
		<td>	<label>image</label>	</td>
		<td>	<div class="profile-image hover_invert"
			style="background-image:url('https://cdn.intra.42.fr/users/7d7dbf6608b2dd7c0a5a55d9fa0a08d8/micro_fde-capu.jpg');"
				></div>					</td>
		<td>	<button type="button">Change</button>
										</td>
	</tr>
	<ng-template #image_simple>
		<tr>
			<td>	<label>image</label>	</td>
			<td>	<div class="profile-image hover_invert"
				style="background-image:url('https://cdn.intra.42.fr/users/7d7dbf6608b2dd7c0a5a55d9fa0a08d8/micro_fde-capu.jpg');"
					></div>					</td>
		</tr>
	</ng-template>

	<tr *ngIf="owner;">
		<td>	<label>Two factor authentication</label>	</td>
		<td>
			<span>
				<div *ngIf="displayUser.mfa_enabled">
					<span class="inverted">[>ON<]</span> <a (click)="switchMfa();">[ OFF ]</a>
				</div>
				<div *ngIf="!displayUser.mfa_enabled">
					<a (click)="switchMfa();">[ ON ]</a> <span class="inverted">[>OFF<]</span>
				</div>
			</span>
		</td>
		<td>
			<button type="button" (click)="switchMfa();">Change</button>
		</td>
	</tr>

</table>

<app-friends-list [user]="displayUser"></app-friends-list> 

<ng-template #user_unknown>
User: unknown.
</ng-template>
