.avatar
{
	display: inline-flex;
	margin: 0.5em;
	width: var(--base-minimal-width);
	max-width: var(--base-minimal-width);
	border: var(--border-thin);
	line-height: 0.7em;
	white-space: normal;
}
.avatar-image
{
	filter: grayscale(100%);
	border: none;
	min-width: 4em;
	min-height: 4em;
	max-width: 4em;
	max-height: 4em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 99;
	margin-right: 0.5em;
}
.dummy {
	min-width: 2em !important;
	min-height: 2em !important;
	max-width: 2em !important;
	max-height: 2em !important;
	margin: auto !important;
}
.avatar-menu
{
	font-size: var(--font-small);
	z-index: 100;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.id {
	opacity: 0.7;
}
.pad {
	padding: 4px;
}
.name:hover {
	background: var(--color-low);
}

