.avatar
{
	display: inline-block;
	position: relative;
}
.avatar-image
{
	filter: grayscale(100%);
	border: none;
	margin: 2px;
	width: 2em;
	height: 2em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 99;
}
.avatar-menu
{
	font-size: var(--font-small);
	background: var(--color-popup-background);
	position: absolute;
	border: var(--border-thin);
	padding: 10px;
	margin-top: -3em;
	margin-left: 48px;
	line-height: 1em;
	z-index: 100;
}
.positionbottom
{
	margin-top: -8em;
}
