.avatar
{
	display: inline-block;
}
.avatar-image
{
	filter: grayscale(100%);
	border: none;
	margin: 2px;
	width: 2em;
	height: 2em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.avatar-menu
{
	min-width: max-content;
	font-size: var(--font-small);
	background: var(--color-popup-background);
	position: absolute;
	border: var(--border-thin);
	padding: 10px;
	margin-left: 60px;
	margin-top: -5px;
	z-index: 100;
}
