<div
  *ngIf="!dummy; else plain"
  class="avatar"
	>
  <div
    class="avatar-image hover_invert"
    style="background-image:url('{{ user.image }}');"
		(click)='goToProfile()'
	></div>
  <div
    class="avatar-menu"
		>
    <div
			class="pad hover_invert"
			style="background: rgba(0,0,0,1);"
			(click)='goToProfile()'
		><span class='id'>
      {{ user.intraId }}
			</span>
      <br />
			{{ user.name }}
    </div>
		<div class='pad'>
			<app-u2u-actions
				[isFriend]="isFriend"
				[isBlock]="isBlock"
				[amIBlocked]="amIBlocked"
				[user]="user"
				[caption]="false"
				[singleline]="true"
			></app-u2u-actions>
		</div>
  </div>
</div>
<ng-template #plain>
  <div
    class="avatar-image hover_invert dummy"
    style="background-image:url('{{ user.image }}');"></div>
</ng-template>
