<div *ngIf="displayUser; else plain" class='avatar' (click)='onClick()' (mouseleave)='onHoverOut()'>
	<div class='avatar-image hover_invert'
		style="background-image:url('{{ displayUser.image }}');"
		>
	</div>
	<div class='avatar-menu'

		*ngIf="popUpOn"

		[ngClass]="{'positionbottom':positionbottom}"
		(mouseenter)='onHover()' (mouseleave)='onHoverOut()'
	>
		<div>
			{{displayUser.intraId}}
			<br>
			<span style='font-size: 1.34em'>
				{{displayUser.name}}
			</span>
		</div>
		<app-u2u-actions [isFriend]='isFriend' [isBlock]='isBlock'
			[amIBlocked]='amIBlocked'
			[user]='displayUser' [caption]='false'></app-u2u-actions>
	</div>
</div>
<ng-template #plain>
	<div class='avatar-image hover_invert'
		style="background-image:url('{{ displayUser?.image }}');"
	></div>
</ng-template>
