<app-menu-bar></app-menu-bar>
<app-invitation-screen></app-invitation-screen>
<main *ngIf="!inGame">
  <header>
    <h2>Room 12345</h2>
  </header>
  <aside>
    <form>
      <fieldset>
        <legend>Game Mode</legend>
        <label>
          <input type="radio" name="mode" value="PONG" checked />
          <span>PONG</span>
        </label>
        <label>
          <input type="radio" name="mode" value="PONGDOUBLE" />
          <span>PONGDOUBLE</span>
        </label>
        <label>
          <input type="radio" name="mode" value="QUADRAPONG" />
          <span>QUADRAPONG</span>
        </label>
        <button type="submit">Set Mode</button>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend>Invite</legend>
        <label>
          Player:
          <select name="playerToInvite">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option *ngFor="let user of availableUsers$ | async">
              {{ user.intraId }} | {{ user.name }}
            </option>
          </select>
        </label>
        <button>Invite</button>
      </fieldset>
    </form>
    <button>Leave</button>
    <button>Ready</button>
    <button disabled="true">Start</button>
  </aside>
  <section>
    <table>
      <caption>
        Players
      </caption>
      <thead>
        <tr>
          <th>Team</th>
          <th>Name</th>
          <th>Ready</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Left</td>
          <td>msales-a</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Left</td>
          <td>msales-b</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Right</td>
          <td>msales-c</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
    <div>
      <h3>Audience</h3>
      <ul>
        <li>foo</li>
        <li>bar</li>
        <li>foobar</li>
      </ul>
    </div>
  </section>
</main>
<app-game *ngIf="inGame"></app-game>
