<div *ngIf="isLogged" class="menu-bar flex-line">
	<!-- TODO get image dinamicaly -->
	<div class="burger" (click)="onClickBurger();">
	</div>
	<div *ngIf="menuOpen" class="burger-menu" (mouseleave)="menuOff();" (click)="menuOff();">
		<app-main-menu></app-main-menu>
	</div>
	<app-avatar></app-avatar>
	<a class="user-name-medium" style="margin-left: 16px;" routerLink="/profile/{{user.intraId}}">
		{{user.intraId}} | {{user.name}}
	</a>
	<div class="score-big">{{ user.score | number:'6.0' }}</div>
</div>
