<div *ngIf="!isMe">
  <h2 *ngIf="caption">Actions</h2>
  <div class="message-centered" [ngClass]="{ singleline: singleline }">
    <div *ngIf="amIBlocked"><b><- HAS BLOCKED YOU</b></div>
    <div class="status" *ngIf="user?.status">{{ user?.status }}</div>
    <button
      [ngClass]="{ oneliner: !caption }"
      *ngIf="!amIBlocked && availability"
      (click)="inviteToChat()">
      Private Message
    </button>
    <button
      [ngClass]="{ oneliner: !caption }"
      *ngIf="!isFriend"
      (click)="makeFriend()">
      Add as Friend
    </button>
    <button
      [ngClass]="{ oneliner: !caption }"
      *ngIf="isFriend"
      (click)="unFriend()">
      Unfriend
    </button>
    <button
      [ngClass]="{ oneliner: !caption }"
      *ngIf="!isBlock"
      (click)="makeBlock()">
      Block
    </button>
    <button
      [ngClass]="{ oneliner: !caption }"
      *ngIf="isBlock"
      (click)="unBlock()">
      Unblock
    </button>
    <button
      [ngClass]="{ oneliner: !caption }"
      *ngIf="!amIBlocked && availability">
      INVITE TO GAME
    </button>
  </div>
</div>
<div *ngIf="isMe"></div>
<div *ngIf="isMe"></div>
