<div *ngIf="!isMe" class='box' [ngClass]='{tinyForChat:tinyForChat}'>
  <h2 *ngIf="caption">Actions</h2>
  <div [ngClass]="{ singleline: singleline }">
    <div class="status" *ngIf="user?.status && !tinyForChat">{{ user?.status }}</div>
    <span *ngIf="amIBlocked"><b><- BLOCKED YOU&nbsp;</b></span>
	</div>
  <div [ngClass]="{ singleline: singleline }">
    <button (click)="goToProfile()" *ngIf='!singleline'>Profile</button>
    <button *ngIf="!amIBlocked && availability" (click)="inviteToChat()">Message</button>
    <button *ngIf="!isFriend && availability" (click)="makeFriend()">Friend</button>
    <button *ngIf="isFriend" (click)="unFriend()">Unfriend</button>
    <button *ngIf="!isBlock" (click)="makeBlock()">Block</button>
    <button *ngIf="isBlock" (click)="unBlock()">Unblock</button>
    <app-notification-button *ngIf="!amIBlocked && availability" template="game:invite" [to]="user!.intraId" alternativeText="Challenge sent!" [timeoutSeconds]="30">MATCH!</app-notification-button>
  </div>
</div>
