.box {
}
.singleline {
}

.singleline button {
	display: inline-flex;
}
.status {
	border: var(--border-thin);
	width: fit-content;
	max-width: fit-content;
	min-width: fit-content;
	padding: 0 0.5em;
	display: inline-flex;
	margin-right: 0.5em;
}
button {
	margin-left: -0.5em;
}
