.podium {
	display: flex;
	overflow-x: auto;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 1em;
	align-items: flex-end;
	background: rgb(73,73,73);
	background: linear-gradient(0deg, rgba(73,73,73,1) 0%, rgba(65,65,65,0) 100%);
	width: fit-content;
	max-width: var(--base-normal-width);
	padding: 1em 0;
	border-radius: 0.25em;
}

.tower {
	width: 72px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	align-items: center;
	margin: 0 0 0 .5em;
}

.pit {
	background: #666666;
	background: #666666;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	width: 100%;
	overflow: hidden;
}

.score {
	z-index: 100;
	font-size: 66.666%;
}

.vertical {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    margin-left: 2em;
    margin-bottom: 0.25em;
}

.yourself {
	border-left: 4px solid gray;
	border-left: 4px solid gray;
	background: #222222;
}
