:host {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	pointer-events: none;
}

.render-filter {
	position: fixed;
	pointer-events: none;
	width: 100%;
	height: 100%;
	filter: url(#noise);
}

.aliasing {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAACXBIWXMAAAsSAAALEgHS3X78AAAAEElEQVQIHWNgYGD4BMQMDAAFtgDzhcd9ZwAAAABJRU5ErkJggg==');
	opacity:.55;
    z-index: 1000;
	pointer-events: none;
}

.reflexes {
	opacity:.15;
	background-image: url('#reflexes');
    z-index: 1001;
	pointer-events: none;
}

svg {
	width: 100%;
	height: 100%;
}
