<h2 *ngIf="stat">Statistics</h2>
<table *ngIf="stat">
    <tr>
      <td>Score</td>
      <td *ngIf='stat.totalScore'>{{ stat.totalScore | number : '2.0-0'}}</td>
      <td *ngIf='!stat.totalScore'>Zero!</td>
    </tr>
    <tr>
      <td>Matches</td>
      <td *ngIf='stat.matches'>{{ stat.matches | number : '2.0-0'}}</td>
      <td *ngIf='!stat.matches'>No Games!</td>
    </tr>
    <tr>
      <td>Wins</td>
      <td *ngIf='stat.wins'>{{ stat.wins | number : '2.0-0'}}</td>
			<td *ngIf='!stat.wins'>Never!</td>
    </tr>
    <tr>
      <td>Looses</td>
      <td *ngIf='stat.looses'>{{ stat.looses | number : '2.0-0'}}</td>
      <td *ngIf='!stat.looses && stat.matches'>Invict!</td>
      <td *ngIf='!stat.looses && !stat.matches'>Never!</td>
    </tr>
    <tr>
      <td>Wins/Looses</td>
      <td *ngIf='stat.winsPerLooses && stat.winsPerLooses < 1'>{{ stat.winsPerLooses | number : '1.2-2' }}</td>
			<td *ngIf='!stat.looses && stat.matches'>Perfect!</td>
			<td *ngIf='stat.looses && !stat.winsPerLooses'>Terrible!</td>
			<td *ngIf='!stat.matches'>To Be Discovered...</td>
    </tr>
</table>
