table {
	min-width: var(--base-minimal-width);
	max-width: var(--base-normal-width);
	margin: auto;
	font-size: var(--font-medium);
}

td {
	padding: 0 0.50em;
	width: 50%;
}

td:nth-child(1) {
	text-align: right;
	opacity: 0.7;
}

