* {
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
	white-space: normal;
	max-width: var(--base-normal-width);
}

a {
	white-space: nowrap;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container, #content {
	margin: 0 auto;
	min-width: var(--base-minimal-width);
}

#content > article, #content > header {
  margin-bottom: 2rem;
}

fieldset {
  border: var(--border-extra);
  padding: 1rem;
	width: fit-content;
	margin: 0 auto;
}

#rooms {
  width: 100%;
}

caption, h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

table {
	min-width: var(--base-minimal-width);
}

table td {
	border: var(--border-thin);
	width: 5em;
	text-align: center;
}

table th:nth-child(3),
table td:nth-child(3) {
	text-align: left;
	width: auto;
	padding-left: 0.5em;
	min-width: 5em;
}
