<app-menu-bar></app-menu-bar>
<app-invitation-screen></app-invitation-screen>
<main id="container">
  <section id="content">
    <header>
      <h2>Game Lobby</h2>
    </header>
    <article>
      <fieldset>
        <legend>On Your Mark</legend>
        <button (click)="createRoom()">Create new room</button>
      </fieldset>
    </article>
    <article *ngIf='rooms.length'>
      <table id="rooms">
        <caption>
          <h3>Open Rooms</h3>
        </caption>
        <thead>
          <tr>
            <th>Id</th>
            <th>Mode</th>
            <th>Host</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td>{{ room.id }}</td>
            <td>
              <span *ngIf="room.mode === 0">PONG</span>
              <span *ngIf="room.mode === 1">PONGDOUBLE</span>
              <span *ngIf="room.mode === 2">QUADRAPONG</span>
            </td>
            <td>{{ room.host.name }}</td>
            <td>{{ room.inGame ? 'In game' : 'Waiting' }}</td>
            <td><a routerLink="./{{ room.id }}">[ Join ]</a></td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</main>
<app-modal [(closed)]="errorHidden" title="Error">{{ errorMessage }}</app-modal>
