.mainTable {
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
	display: inline-table;
}

td, th {
	padding: 0 var(--pad);
	white-space: nowrap;
	min-width: fit-content;
}
.match {
	border: 0.2em solid #333;
}

.vertical {
    transform: rotate(-90deg);
}
.ununstrusiveKey {
	position: absolute;
	font-size: 3em;
	margin-top: -0.40em;
	margin-left: 0px;
	opacity: .2;
}
