.mainTable {
	border: 3px solid red;
}

table {
	border-collapse: collapse;
	display: inline-table;
}

td, th {
	padding: 0 0.5em;
	white-space: nowrap;
	min-width: fit-content;
}
.match {
	border: 0.2em solid #333;
}

.divisor tr {
	border-bottom: var(--border-thin);
}

.non-divisor tr {
	border-bottom: none;
}
