<h2>Match History</h2>
<table *ngIf='user && histRender.length else no_matches' class='mainTable'>
  <tr *ngFor='let match of histRender' class='match'>
	<td style='width: 1em;'> <div class='vertical'> {{ match.pongMode }} </div></td>
	<td>
		<table>
			<tr *ngFor='let team of match.teams'>
				<td>
					<span *ngIf='isUserIn(team) else not'>
						<span *ngIf='team.victory'>&#10004;</span>
						<span *ngIf='!team.victory'>&#x2717;</span>
					</span>
					<ng-template #not>
						<span *ngIf='team.victory' style='opacity:.3;'>&#10004;</span>
						<span *ngIf='!team.victory' style='opacity:.3;'>&#x2717;</span>
					</ng-template>
					<span *ngIf='match.pongMode == "PONG2"' class='ununstrusiveKey'>&#123;</span>
				</td>
				<td>
					<table style='display: inline-table'>
						<tr *ngFor='let player of team.players'>
							<td style='min-width: 4em;'>
								{{ player.intraId }}
							</td>
							<td>
							<span style='width: 14em; max-width: 14em; overflow: hidden; display:block;'>
								{{ player.nameInGame }}
							</span>
							</td>
							<td style='width: 5em; min-width: 5em; text-align: center;'>
								+{{ player.scoreMade | number:'2.0-0' }}
							</td>
							<td style='width: 2em; text-align: center;'>
								{{ player.goalsMade }}/{{ player.goalsTaken }}
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
	<td style='text-align: center;'>
		{{ match.date | date:'short':'UTC' }}
		<br>
		{{ match.duration * 1000 | date:'mm:ss' }} min.
	</td>
  </tr>
</table>

<ng-template #no_matches>
<div class='message-centered'>
No matches.
</div>
</ng-template>
