<div class="overall" *ngIf='invitation && receiveScreen'>
	<h2>New Invitation</h2>
	<hr>
	<b>{{ invitation.from }}</b>
	<hr>
	invites you to
	<hr>
	<b>{{ invitation.type }}</b>
	<hr>
	<br>
	<button (click)='accept()'>
		<span *ngIf='invitation.buttonOk'> {{ invitation.buttonOk }} </span>
		<span *ngIf='!invitation.buttonOk'>Accept</span>
	</button>
	<button (click)='decline()'>
		<span *ngIf='invitation.buttonCancel'> {{ invitation.buttonCancel }}</span>
		<span *ngIf='!invitation.buttonCancel'>Decline</span>
	</button>
</div>

<div class="overall" *ngIf='sentScreen'>
Invitation sent.<br><br>
<button (click)='finalOk();'>Ok</button>
</div>


<div class="overall" *ngIf='declineScreen'>
From:<br>
{{ invitation.to }}<br><br>
Invitation to:<br>
{{ invitation.type }}<br>
<br>
<hr>
<br>
<b>DECLINED</b>
<br>
<hr>
<button (click)='finalOk();'>Ok</button>
</div>

<div class="overall" *ngIf='acceptScreen'>
From:<br>
{{ invitation.to }}<br><br>
Invitation to:<br>
{{ invitation.type }}<br>
<br>
<hr>
<br>
<b>ACCEPTED</b>
<br>
<hr>
<br>
<button (click)='finalOk();'>Close</button>
<button (click)='clickGo = true; finalOk();'>Go to Route</button>
</div>

<div class="overall" *ngIf='notificationScreen'>
<span class='blinker'>{{ invitation.note }}</span>
<hr>
<span *ngIf='invitation.type'>{{ invitation.type }}</span>
<hr *ngIf='invitation.type'>
<button (click)='clickGo = true; finalOk();'>{{ invitation.button }}</button>
</div>

<!--
Mocks:<br>
<button (click)='mockInvite()'>Invite</button>
<button (click)='mockDecline()'>Got declined</button>
<button (click)='mockAccept()'>Got accepted</button>
<button (click)='mockAcceptInstantaneous()'>Got accept instantaneous</button>
<button (click)='mockReceive()'>Receive</button>
-->
