<div class="overall" *ngIf='myState && myState.invitation && myState.receiveScreen'>
	<h2>New Invitation</h2>
	<hr>
	<b>{{ myState.invitation.from }}</b>
	<hr>
	invites you to
	<hr>
	<b>{{ myState.invitation.type }}</b>
	<hr>
	<br>
	<button (click)='accept()'>
		<span *ngIf='myState.invitation.buttonOk'> {{ myState.invitation.buttonOk }} </span>
		<span *ngIf='!myState.invitation.buttonOk'>Accept</span>
	</button>
	<button (click)='decline()'>
		<span *ngIf='myState.invitation.buttonCancel'> {{ myState.invitation.buttonCancel }}</span>
		<span *ngIf='!myState.invitation.buttonCancel'>Decline</span>
	</button>
</div>

<div class="overall" *ngIf='myState && myState.sentScreen && myState.invitation'>
<h2>Invitation sent</h2>
<hr>
	To: <b>{{ myState.invitation.to }}</b>
	<hr>
	Room name: <b>{{ myState.invitation.type }}</b>
	<br>
	<hr>
	<br>
<button (click)='finalOk();'>Ok</button>
</div>

<div class="overall" *ngIf='myState && myState.invitation && myState.declineScreen'>
From:<br>
{{ myState.invitation.to }}<br><br>
Invitation to:<br>
{{ myState.invitation.type }}<br>
<br>
<hr>
<br>
<b>DECLINED</b>
<br>
<hr>
<button (click)='finalOk();'>Ok</button>
</div>

<div class="overall" *ngIf='myState && myState.invitation && myState.acceptScreen'>
From:<br>
{{ myState.invitation.to }}<br><br>
Invitation to:<br>
{{ myState.invitation.type }}<br>
<br>
<hr>
<br>
<b>ACCEPTED</b>
<br>
<hr>
<br>
<button (click)='finalOk();'>Close</button>
<button (click)='clickGo = true; finalOk();'>Go to Route</button>
</div>

<div class="overall" *ngIf='myState && myState.invitation && myState.notificationScreen'>
<span class='blinker'>{{ myState.invitation.note }}</span>
<hr>
<span *ngIf='myState.invitation.type'>{{ myState.invitation.type }}</span>
<hr *ngIf='myState.invitation.type'>
<button (click)='clickGo = true; finalOk();'>{{ myState.invitation.button }}</button>
</div>
