* {
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
  text-shadow: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container, #content {
  width: var(--base-normal-width);
	min-width: var(--base-minimal-width);
	margin: 0 auto 1em;
}

fieldset {
  border: var(--border-extra);
  padding: 1rem;
	width: fit-content;
	margin: 0 auto;
}

caption, h1, h2, h3, h4, section, nav, fieldset {
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
	border: var(--border-thin);
	padding: 0;
}

.break-line {
	border: var(--devx);
}
