<div *ngIf="routedNotInProfile">
	<app-menu-bar></app-menu-bar>
	<app-invitation-screen></app-invitation-screen>
</div>
<app-ladder [userId]='user?.intraId'></app-ladder>
<main id="container">
  <header>
    <h2>{{routedNotInProfile?'Global':'Personal'}} Match History</h2>
  </header>
  <section *ngIf="!(matches | async)?.length" id="content" class="center">
    <p>No matches found.</p>
  </section>

			<section *ngFor="let match of matches | async; let i = index;">
				<div class='match-box' *ngIf="doesThisShow(match)">
					<div class='date'>{{match.createdDate}}</div>
					<div *ngFor="let team of match.teams | keyvalue; let i = index;"
						class='team-box' style="justify-content:{{(i+1)%2?'right':'left'}};">
							<div *ngIf="team.value" class='player-box'
								style="order:{{(i+1)%2?0:4}};text-align:{{(i+1)%2?'right':'left'}};">
								<div *ngFor="let player of team.value.players">
									{{ player.name }}
								</div>
							</div>
							<div *ngIf="team.value" class='score-box'
								style="order:{{(i+1)%2?1:3}};padding-right:{{(i+1)%3?'':'0.5em'}};padding-left:{{(i+1)%4?'':'0.5em'}};">
								{{ team.value.score }}
							</div>
					</div>
				</div>
			</section>

</main>
