* {
  border: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
	white-space: normal;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container, #content {
	min-width: var(--base-minimal-width);
	margin: 0 auto 2em;
}

fieldset {
  border: var(--border-extra);
  padding: 1rem;
	width: fit-content;
	margin: 0 auto;
}

caption, h1, h2, h3, h4, section, nav, fieldset {
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
	border: var(--border-thin);
	padding: 0;
}

.match-box {
	display: flex;
	padding: 0.25em;
	line-height: 1em;
	align-items: center;
	justify-content: center;
	width: fit-content;
	max-width: var(--base-normal-width);
	min-width: var(--base-minimal-width);
	margin: 0.5em auto;
	flex-wrap: wrap;
}

.team-box {
	display: inline-flex;
	max-width: 48%;
	min-width: 48%;
	width: 48%;
	justify-content: flex-end;
	align-items: center;
}

.player-box {
	min-width: fit-content;
	display: flex;
  flex-direction: column;
}

.score-box {
	font-size: var(--font-xx-large);
	padding: 0 8px;
	display: inline-table;
	min-width: fit-content;
}

.match-box::after {
  content: "x";
	position: absolute;
	font-size: var(--font-x-large);
}
