<div id="container" class="center">
  <div id="content" class="center">
    <ul id="teams" class="center">
      <li *ngFor="let team of room.teams" class="team center" style="flex-direction:
				{{team.id=='LEFT'||room.mode==2?'row':'row-reverse'}}
				;">
        <ul class="players oneliner">
          <li *ngFor="let player of team.players">
						<span class='team-id'>{{ team.id }} </span>
						<span class='player-name'>{{ player.name }}</span>
						<span class='center oneliner'>
							<span class="mini-avatar" style="
								{{room.mode>=1?
									'max-width:2em;max-height:2em;min-width:2em;min-height:2em;' :
									'max-width:3em;max-height:3em;min-width:3em;min-height:3em;'
									}}
								background-image:url('{{player.image}}');">
							</span>
							<span class='score'>{{ getTeamScore(team.id) }}</span>
						</span>
					</li>
        </ul>
      </li>
    </ul>
    <canvas #stage id="stage">Canvas is not supported!</canvas>
  </div>
</div>
