* {
	white-space: nowrap;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
	position: fixed;
	top: 0;
	padding-top: 1em;
	right: 0;
	bottom: 0;
	left: 0;
}

#content {
  flex-direction: column;
  width: 80vmin;
  height: 80vmin;
  padding: 1vmin;
  background-color: var(--color-low);
}

#teams {
	align-items: flex-start;
	height: 1em;
	display: flex;
  flex-direction: row;
	position: absolute;
	top: 0;
	margin: 0 auto;
	width: 100%;
	max-width: var(--base-normal-width);
	justify-content: space-evenly;
}

#stage {
  width: 100%;
  height: 100%;
  border: var(--border-extra);
  cursor: none;
}

ul {
	padding: 0;
	position: relative;
}

.score {
	font-size: var(--font-xx-large);
	position: relative;
}

.mini-avatar {
	filter: grayscale(100%);
	border: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 99;
	min-width: 2em;
	min-height: 2em;
	max-width: 2em;
	max-height: 2em;
	padding-right: 1em;
}

.players {
	font-size: var(--font-small);
	display: block;
}

.team {
  flex-direction: row;
	justify-content: normal;
}

.team-id {
	top: 0em;
	left: -1em;
}

li {
	display: block;
}

