<div class="main-menu" [ngClass]="{'main-menu-big':big}">
	<button class="oneliner" routerLink="/home" *ngIf="!big">Home</button>
	<button class="oneliner" routerLink="/profile">Profile</button>
	<button class="oneliner" routerLink="/online">Online Users</button>
	<button class="oneliner" routerLink="/rooms">Chat Rooms</button>
	<button class="oneliner" routerLink="/create-match">Create Match</button>
	<button class="oneliner" routerLink="/chat">Create Chat</button>
	<button class="oneliner" *ngIf="!big" (click)="signOut()">Log Out</button>
</div>

