<button class="oneliner" routerLink="/home" *ngIf="!big">Home</button>
<button class="oneliner" routerLink="/profile">Profile</button>
<button class="oneliner" routerLink="/online">Online Users</button>
<hr />
<button class="oneliner" routerLink="/rooms">Chat Rooms</button>
<button class="oneliner" routerLink="/chat">Create Chat</button>
<hr />
<button class="oneliner" routerLink="/findgame">Auto Match</button>
<button class="oneliner" routerLink="/game">Game Lobby</button>
<button class="oneliner" routerLink="/game/history">Ladder & History</button>
<hr />
<button class="oneliner" (click)="signOut()">Log Out</button>
