<div *ngIf="!showForm" class='options'>
  <label>name</label>
	<div>{{ userName }}</div>
  <button (click)="showForm = true">Change Name</button>
</div>

<div *ngIf="showForm" class='options'>
    <label>
      new name
    </label>
		<input type="text" [(ngModel)]="newName" name="newName" (keydown.enter)="submitName()">
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div> <!-- Display error message below the input -->
		<div class='oneliner'>
			<button (click)="submitName()" id='okButton'>Change</button>
			<button (click)="showForm = false">Cancel</button>
		</div>
</div>
