:root {
	cursor:url("assets/cursor.png") 8 8, cell;
	--pad: 0.33em;
	--base-normal-width: 1000px;
	--base-minimal-width: 500px;
	--color-high:#eee;
	--color-subhigh:#aaa;
	--color-supmed:#888;
	--color-light:#444;
	--color-border:#333;
	--color-low:#222;
	--color-sublow:#101010;
	--color-dark:#000000;
	--color-high-transp:#a0a0a087;
	--color-medium-transp:#77777747;
	--color-low-transp:#222222f6;
	--color-sublow-transp:#101010eb;
	--color-shadow:#0000003d;

	--body-margin: 40px;
	--body-border-width: 8px;
	--inner-padding-vertical: 3em;
	--inner-padding-horizontal: 1em;
	--border-thin: 4px solid var(--color-border);
	--border-extra: 16px solid var(--color-light);
	--border-thick: 32px solid var(--color-dark);
	--color-popup-background: var(--color-sublow-transp);
	--color-menu-bar: var(--color-shadow);
	--screen-color: var(--color-sublow);
	--font-huge: 256px;
	--font-xx-large: 64px;
	--font-x-large: 48px;
	--font-large: 36px;
	--font-medium: 24px;
	--font-small: 22px;

	--set-menu-bar: 64px;

	/* Styles based of paramteres above (no need to touch?): */
	--margin-plus-border: calc(var(--body-margin) + var(--body-border-width));
	--inner-height: calc(100vh - (2 * (var(--margin-plus-border))));
	--inner-below-menu-height: calc(var(--inner-height) - 3em);
	--inner-minimum: 512px;

	--dev1: 2px solid red;
	--dev1: 2px solid blue;
	--devx: 20px solid purple;
}
body
{
	background: var(--screen-color);
	font-family: 'VT323', monospace;
	font-size: var(--font-medium);
	text-shadow: 0px 0px 10px var(--color-supmed);
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	image-rendering: pixelated;
	color: var(--color-high);
	padding: 0;
	border: 0;
	margin: 0;
	/* Removed due to Firefox rendering problems.
	filter:
		grayscale(100%)
		url(#noise)
		;
	color-interpolation-filters: srgb;
	*/
	word-break: break-word;
	white-space: nowrap;
}
pre {
	font-size: var(--font-small);
}
h1 {
	font-size: var(--font-xx-large);
	font-variant-caps: all-petite-caps;
	margin: 0;
	text-align: center;
}
h2 {
	font-size: var(--font-x-large);
	font-variant-caps: all-petite-caps;
	margin: 1em 0 0;
	text-align: center;
}
h3 {
	font-variant-caps: all-petite-caps;
	margin: 4px 0px 0px 24px;
}
input, textarea, select
{
	padding: 0;
	text-shadow: inherit;
	border: none;
	background: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
}
input:focus-visible, select:focus-visible {
	outline-style: none;
}
input:selection, select:selection {
}
.inverted {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
a {
	all: unset;
}
a:hover,
input:hover,
button:hover,
textarea:hover,
textarea:active,
.inverted {
	background: var(--color-low);
}
.hover_invert:hover,
a:hover,
input:active,
button:hover,
textarea:hover,
textarea:active {
	-webkit-filter: grayscale(100%) invert(100%) !important;
	filter: grayscale(100%) invert(100%) !important;
}
.inline {
	display: inline;
}
button,
::-webkit-file-upload-button
{
	display: block;
	white-space: nowrap;
	text-shadow: inherit;
	cursor: inherit;
	text-align: inherit;
	border: none;
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	color: var(--color-high);
	padding-top: 0;
	padding-bottom: 0;
}
button:disabled:hover {
	background: inherit;
	color: var(--color-supmed);
}
button:active
{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
button::before
{
	content: "[ ";
}
button::after
{
	content: " ]";
}
ul
{
	margin: 0;
}
ul
{
	display: flex;
	flex-direction: column;
}
li
{
	list-style-type: none;
	margin-left: -16px;
	margin-bottom: 10px;
	width: 97%;
	border: 4px solid var(--color-border);
	display: flex;
	align-items: center;
	min-height: 64px;
}
.flex-line
{
	display: flex;
	align-items: center;
}
hr {
	border: 2px dashed var(--color-border);
	width: 200px;
	margin: 0.25em 0;
}
label
{
	display: inline-block;
	padding-right: 1ch;
	cursor: inherit;
}
label::after {
	font-weight: normal;
	content: " :";
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--color-border);

}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-supmed);
}
.oneliner {
	display: block;
	white-space: nowrap;
}
.chat-whole-box {
	font-size: var(--font-small);
}
.blinker {
	animation: text-blinker 0.618s step-end infinite;
}
.slow-blinker {
	animation: text-blinker 6.18s step-end infinite;
}
.font-distorter {
	animation: text-sizer 9.18s step-end infinite;
	height: 24px;
	position: relative;
}
.font-positioner {
	animation: text-positioner 14.18s step-end infinite;
	height: 24px;
	position: relative;
}
@keyframes text-blinker {
  0%	{ visibility: hidden; }
  4%	{ visibility: visible; }
  35%	{ visibility: hidden; }
  39%	{ visibility: visible; }
  60%	{ visibility: hidden; }
  68%	{ visibility: visible; }
}
@keyframes text-sizer {
  0%	{ font-size: 100%; }
  30%	{ font-size: 97%; }
  35%	{ font-size: 102%; }
  58%	{ font-size: 104%; }
  60%	{ font-size: 94%; }
  93%	{ font-size: 101%; }
}
@keyframes text-positioner {
  0%	{  top: 16px; left: 26px; }
  24%	{  top: 20px; left: 32px;}
  27%	{  top: 2px; left: 20px;}
  51%	{  top: 6px; left: 53px;}
  70%	{  top: 12px; left: 37px;}
  80%	{  top: 3px; left: 23px;}
}
/**/
*::placeholder {
	/* I like it normal but I also like it small. */
	/*
	padding-top: 4px;
	font-size: 75%;
	*/
}
.overall {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background: var(--color-sublow-transp);
	z-index: 3000;
	border: var(--border-thick);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	-webkit-filter:
		drop-shadow(0px 0px 190px #00000055)
		drop-shadow(0px 0px 90px #00000055);
	filter:
		drop-shadow(0px 0px 190px #00000055)
		drop-shadow(0px 0px 90px #00000055);
}

.high-noise {
	filter: url(#highnoise);
}
svg {
	width: 100%;
	height: 100%;
}
.multi-pics {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
