.window-full {
	margin: 0;
	font-size: var(--font-medium);
	position: fixed;
	top: var(--set-menu-bar);
	right: 0;
	bottom: 0;
	left: 0;
}
.options
{
	padding: 0 16px;
	margin: 0 auto;
}

.yourself::after {
	content: " <<<";
}

.yourself::before {
	content: ">>> ";
}
.window-title {
	margin: 0;
	font-variant-caps: all-caps;
	padding: var(--font-medium);
	font-size: var(--font-medium);
	background: var(--color-shadow);
	border-bottom: var(--border-thin);
	line-height: 0.5em;
}
.window-close {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('/assets/x.png');
	opacity: .7;
	float: right;
	position: relative;
	bottom: 2em;
	margin: 0.25em 1em 0 0;
}
.window-menu-burger {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('/assets/burger.png');
	padding: 0;
	float: right;
	position: relative;
	bottom: 2em;
	margin: 0.25em 1em 0 0;
}
.window-options {
	background: var(--color-sublow-transp);
	justify-content: center;
	flex-direction: column;
	overflow: auto;
	top: var(--set-menu-bar);
	left: 0;
	bottom: 10em;
	right: 0;
}
.list-of-users {
	border: 0;
	border-spacing: 0;
	margin: 0 auto;
}
.list-of-users td {
	padding-top: 0px;
	padding-bottom: 0px;
}
.list-of-users a {
	padding: 0px 0.25em;
	width: fit-content;
	display: inline-block;
}
button {
	position: relative;
	margin: auto;
}
.button-box button {
	display: inline-flex;
	margin-left: -0.5em;
}
.user-name {
	overflow: hidden;
}
.options-block {
	top: 6em;
	position: fixed;
	overflow: auto;
	margin: 0 auto;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--color-sublow);
	z-index: 200;
	border: var(--border-extra);
}

h2 {
	text-align: center;
	margin-bottom: 1em;
}

.flag {
	opacity: .7;
}
