<app-menu-bar></app-menu-bar>
<app-invitation-screen></app-invitation-screen>
<div *ngIf="!done && !this.chatRoom.id">Please hold on...</div>
<div *ngIf="done && !this.chatRoom.id">Unexistent room!</div>
<div *ngIf="done && this.chatRoom.id" class="window-full">
<app-window-title
	[windowName]="windowName"
	[windowExtras]="windowExtras"
	(click)="onMenu()"
></app-window-title>
	<div class="window-close" (click)="onClose()"></div>
	<div class="window-menu-burger" (click)="onMenu()"></div>
<div class="window-options" *ngIf="optionsOn">
	<table class="options" *ngIf="iAmAdmin">
		<tr>
			<td>
				<label>Room Name</label>
			</td><td>
				<input id="name" [(ngModel)]="chatRoom.name"
				(focus)="fun.switchIf('nameButton', 'Change', 'Ok');"
				(focusout)="fun.switchIf('nameButton', 'Ok', 'Change');"
				(keydown.enter)="fun.blur('name'); fun.blink('nameButton');"
				(change)="emit();"
				/>
			</td><td>
				<button id="nameButton" type="button" (click)=
					"fun.focusIf('nameButton', 'Change', 'name');"
					>Change</button>
			</td>
		</tr>
		<tr>
			<td>
				<label>Privacy</label>
			</td><td>
				<span>
					<div *ngIf="chatRoom.isPrivate">
						<span class="inverted">[>ON<]</span> <a (click)="switchPrivacy();">[ OFF ]</a>
					</div>
					<div *ngIf="!chatRoom.isPrivate">
						<a (click)="switchPrivacy();">[ ON ]</a> <span class="inverted">[>OFF<]</span>
					</div>
				</span>
			</td><td>
				<button type="button" (click)="switchPrivacy();">Change</button>
			</td>
		</tr>
		<tr>
			<td>
				<label>Password</label>
			</td><td>
				<input id="password" [(ngModel)]="chatRoom.password"
				(focus)="fun.switchIf('passwordButton', 'Change', 'Ok');"
				(focusout)="fun.switchIf('passwordButton', 'Ok', 'Change');"
				(keydown.enter)="fun.blur('password'); fun.blink('passwordButton');"
				(change)="emitIfUnique();"
				/>
			</td><td style="min-width:175px;">
				<button id="passwordButton" type="button" (click)=
					"fun.focusIf('passwordButton', 'Change', 'password');"
					>Change</button>
				<button type="button" (click)="cleanPassword();">Clean</button>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<button (click)="onMenu()">Ok</button>
			</td>
		</tr>
	</table>

	<hr>

	<h3>In-Chat</h3>
	<table class="list-of-users">
		<tr *ngFor="let user of usersInChat">
		<td>
			<a routerLink="/profile/{{user.intraId}}">
				{{ user.intraId }} | {{ user.name }}
			</a>
		</td>
		<td>
			<span *ngIf="iAmAdmin && !isAdmin(user.intraId) && !isMe(user.intraId);">
				<button style='margin-left:0;' (click)='kickThem(user)'>Kick</button>
				<button>Tig</button>
				<button>Mute</button>
				<button>Promote</button>
			</span>
			<span *ngIf="isAdmin(user.intraId)"> <-[ Administrator ]</span>
			<button *ngIf='iAmAdmin && isMe(user.intraId)' type="button" (click)="revokeAdmin()" style='margin-left:0;'>Revoke</button>
		</td>
		</tr>
	</table>

	<h3 *ngIf="iAmAdmin || (!chatRoom.isPrivate && !chatRoom.password)">Users not in Chat</h3>
	<table *ngIf="iAmAdmin || (!chatRoom.isPrivate && !chatRoom.password)" class="list-of-users">
		<tr *ngFor="let user of usersOutOfChat">
		<td>
			<a routerLink="/profile/{{user.intraId}}">
				{{ user.intraId }} | {{ user.name }}
			</a>
		</td>
		<td>
			<button *ngIf='!isBlocked(user) || iAmAdmin' style="margin-left:0;" (click)='doInvitationToThisRoom(user)'>Invite</button>
			<span *ngIf='isBlocked(user)'><- Blocked</span>
		</td>
		</tr>
	</table>

</div>
<app-chat-text [room]='chatRoom'></app-chat-text>
<app-chat-input [room]='chatRoom'></app-chat-input>
</div>
