.chat-text
{
	width: 100%;
	overflow: auto;
	border: none;
	height: calc(var(--inner-below-menu-height) - 9em);
}
.chat-line {
	white-space: normal;
	min-width: unset;
	list-style-type: none;
	margin: 0 auto;
	display: inline-block;
	border: none;
	border-bottom: 4px dashed var(--color-border);
	max-width: var(--base-normal-width);
}
.user-name-small {
	font-size: var(--font-small);
	min-width: max-content;
	padding: 0px 0.5em;
}
.small {
	font-size: var(--font-small);
}
.avatar-float {
	float: left;
	margin: 0.5em 1em 1em 0em;
}
