.chat-text
{
	width: 100%;
	overflow: auto;
	border: none;
	height: calc(var(--inner-below-menu-height) - 9em);
}
.chat-line {
	white-space: normal;
	min-width: unset;
	list-style-type: none;
	margin: 0px 0px 2px -16px;
	display: inline-block;
	border-bottom: 4px dashed var(--color-border);
	border: var(--dev1);
}
.user-name-small {
	font-size: var(--font-small);
	min-width: max-content;
	padding: 0px 0.5em;
}
.small {
	font-size: var(--font-small);
}
.avatar-float {
	float: left;
	margin-bottom: -1em;
	margin-right: 8px;
}
