<app-menu-bar></app-menu-bar>
<app-invitation-screen></app-invitation-screen>
<main>
  <header>
    <h2>Lobby</h2>
  </header>
  <aside>
    <div>
      <button>Quick match</button>
      <button (click)="createRoom()">Create new room</button>
    </div>
  </aside>
  <section>
    <table>
      <caption>
        Game rooms
      </caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Mode</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <th>{{ room.id }}</th>
          <th>{{ room.host.id }}</th>
          <th>{{ room.inGame ? 'In game' : 'Waiting' }}</th>
          <th><button routerLink="./{{ room.id }}">Join</button></th>
        </tr>
      </tbody>
    </table>
  </section>
</main>
