<main>
  <header>
    <h2>Lobby</h2>
  </header>
  <aside>
    <div>
      <button>Quick match</button>
      <button>Create new room</button>
    </div>
  </aside>
  <section>
    <table>
      <caption>
        Game rooms
      </caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Mode</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>xpto</th>
          <th>PONG</th>
          <th>Waiting</th>
          <th><button>Join</button></th>
        </tr>
      </tbody>
    </table>
  </section>
</main>
